* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: black;
}
main{
    height: 100%;
    width: 100%   
}
nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    padding: 40px;
}
.left{
    display: flex;
    align-items: center;
}
nav .left img{
    height:60px;
    width: 60px;
}
button{
    background-color: transparent;
}
.mid button{
    margin-right: 30px;
    font-size: 20px;
    font-weight: 400;
    border: none;
}
nav button{
    font-size: 25px;
    font-weight: 450;
    border: none;
}
section{
    height: calc(100%-80px);
    width: 100%;
}
section h1{
    font-size: 150px;
    text-align: center;
}
.part1{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.part1 button{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 50px;
    margin-bottom: 10px;
    transition: all linear 0.1s;
}
.part1 button:hover{
    background-color: orange;
    color: white;
    font-weight: 900;

}
.part2{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
    gap: 20px;
}
.card{
    height: 40%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    background-color: rgb(27, 26, 26);
    padding: 20px;
    border-radius: 40px;
}
button:hover{
    color: orange;
    font-weight: 700;
}
.card img{
    height: 350px;
    width: 100%;
    border-radius: 40px;
}
.card h3{
    font-size: 22px;
}
.card button{
    font-size: 20px;
    padding:5px 15px;
    border-radius: 40px;
    border: 1px solid white;
    transition: all linear 0.2s;
}
.card button:hover{
    color:white;
    background-color: rgb(77, 51, 3);

}